<div class="component-post services-strip">
    <a href="/services/tms-therapy">    
        <div class="service-card">
            <h3 class='component-title'>TMS Therapy</h3>
            <p>TMS Therapy is a non-invasive brain-stimluation technique.</p>
        </div>
    </a>
    <a href="<%- url_for(theme.services.HBOT) %>">
        <div class="service-card">
            <h3 class='component-title'>HBOT</h3>
            <p>HBOT is a treatment that increases blood-oxygen saturation.</p>
        </div>
    </a>
    <a href="<%- url_for(theme.services.Diagnostics) %>">
        <div class="service-card">
            <h3 class='component-title'>Advanced Diagnostics</h3>
            <p>We utilize many different cutting-edge diagnostic tools to tailor treatment to each patient.</p>
        </div>
    </a>
</div>