<div class="component-post services-strip">
    <div class="service-card">
        <a href="/services/tms-therapy">
            <h2 class='component-title'>TMS Therapy</h2>
            <p>TMS Therapy is a non-invasive brain-stimluation technique.</p>
        </a>
    </div>
    <div class="service-card">
        <a href="<%- url_for(theme.services.HBOT) %>">
            <h2 class='component-title'>HBOT</h2>
            <p>HBOT is a treatment that increases blood-oxygen saturation.</p>
        </a>
    </div>
    <div class="service-card">
        <a href="<%- url_for(theme.services.Diagnostics) %>">
            <h2 class='component-title'>Advanced Diagnostics</h2>
            <p>We utilize many different cutting-edge diagnostic tools to tailor treatment to each patient.</p>
        </a>
    </div>
</div>