<div class="component-post tms-strip">
    <!-- Bring in TMS component post -->
    <% let posts = site.posts %>
    <% posts.forEach(function(item) { %>
        <% if (item.title === 'What is TMS Therapy?' && item.type === 'component') { %>
            <h3><%- item.title %></h3>
            <%- item.content %>
        <% } %>
    <% }) %>
</div>