<div class="about-strip">
    <img src="/images/simple-logo.png" alt="TheraMind Logo">
    <h2>Welcome to the TheraMind Center of Santa Barbara</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor mattis mauris, sit amet tincidunt nisl euismod ut. Duis semper sed sem sed posuere. Maecenas et vulputate tortor. Aenean tempus magna libero, non eleifend lectus fermentum eget. Praesent efficitur sapien vitae viverra laoreet. Quisque a pharetra dui, nec lacinia tortor. Donec quis cursus dolor, eget facilisis turpis. Aenean egestas id enim sit amet volutpat. Aliquam eu diam lectus. Quisque varius lorem lorem. Donec dui eros, auctor a tincidunt ac, elementum non turpis. Curabitur porta vel dolor nec semper.
    </p>
    <p>Etiam sit amet ex vitae dolor tempus rutrum et sed lectus. Nam at justo imperdiet, condimentum neque eu, luctus erat. Nullam suscipit lectus sed ligula maximus, in ullamcorper risus egestas. Maecenas luctus et nisi non pellentesque. Fusce malesuada, urna vitae maximus facilisis, ipsum lorem aliquet lectus, at ornare risus est sed ex. Donec mattis sagittis erat, nec gravida sapien volutpat nec. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi sem est, mattis nec gravida vitae, iaculis vel tortor.
    </p>
</div>