<div class="component-post news-strip">
    <!-- Display content from the News page -->
    <% let posts = site.posts %>
    <% posts.forEach(function(item) { %>
        <% if (item.title === 'News & Blog') { %>
            <h3 class='component-title'><%- item.title %></h3>
            <%- item.content %>
        <% } %>
    <% }) %>
    <!-- Link to the Blog Page-->
    <div class="button-wrapper">
        <% let pages = site.pages %>
        <% pages.forEach(function(item) { %>
            <% if (item.type === 'news') { %>
                <a href="<%- url_for(theme.about.News) %>" class='button'>See Blog</a>
            <% } %>
        <% }) %>
    </div>
</div>
