<div class="component-post providers-strip">
    <!-- Display content from the News Comopnent Post -->
    <% let posts = site.posts %>
    <% posts.forEach(function(item) { %>
        <% if (item.title === 'Providers & Staff') { %>
            <h3 class='component-title'><%- item.title %></h3>
            <%- item.content %>
        <% } %>
    <% }) %>
    <!-- Link to the Providers Page / index.md-->
    <div class="button-wrapper">
        <% let pages = site.pages %>
        <% pages.forEach(function(item) { %>
            <% if (item.menulabel === 'Providers') { %>
                <a href="<%- url_for(theme.about.Providers) %>" class='button'>See Providers</a>
            <% } %>
        <% }) %>
    </div>
</div>