/* ----------- VARIABLES ----------- */
:root {
    --main-accent-color: #FB7718;
}


/* ------------- GLOBAL STYLES --------------- */
html {
	width: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}
body {
    width: 100%;
    height: 100%;
	background: white;
	margin: 0;
	max-width: 100%;
}
a {
    text-decoration: none;
    color: black;
    position: relative;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
a::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--main-accent-color);
    transition: width .6s;
    position: absolute;
    left: -50%;
    top: 94%;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
a:hover {
    color: var(--main-accent-color);
}
a:hover::after {
    width: 100%;
    transform: translateX(50%);
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    opacity: 1; 
}
.button {
    -webkit-appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 35px;
    margin: 20px;
    background: var(--main-accent-color);
    color: white;
    font-weight: bolder;
    font-size: 0.8rem;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border: 1px solid var(--main-accent-color);
    border-radius: 7px;
    cursor: pointer;
    outline: none;
}
.button::before {
    content: '→';
    position: absolute;
    left: 50%;
    width: 0;
    opacity: 0;
    transition: 0.3s ease all;
    color: black;
}
.button:hover::before {
    width: 60px;
    transform: translateX(55px);
    font-size: 0.8rem;
    opacity: 1;
}
.button:hover {
    color: black;
    background: none;
    border: 1px solid black;
}
.button::after {
    display: none;
}

/* --------------- NAVIGATION ---------------- */
.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    width: 100%;
    height: auto;
    letter-spacing: 5px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    z-index: 4;
    top: 0;
    background: white;
    will-change: transform;
    -webkit-box-shadow: 1px 7px 16px -8px rgba(0,0,0,0.49);
    -moz-box-shadow: 1px 7px 16px -8px rgba(0,0,0,0.49);
    box-shadow: 1px 7px 16px -8px rgba(0,0,0,0.49);
}
.navbar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 75%;
    height: auto;
}
.nav-top {
    display: flex;
    justify-content: space-between;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 0 10px 0 10px;
    line-height: 30px;
    font-weight: bolder;
    letter-spacing: 1px;
}
.brand {
    width: 250px;
    display: flex;
    align-items: center;
}
.brand a::after {
    display: none;
}
.brand img {
    width: 230px;
    height: 100px;
}
.brand-mobile {
    display: none;
}
.call-now {
    font-size: 0.8rem;
    width: 100%;
    padding: 0 23px 0 10px;
}
.call-now p {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
    margin: 0;
    letter-spacing: 0px;
    font-size: 0.75rem;
    line-height: 30px;
}
.call-now-mobile {
    display: none;
}
.call-now-mobile p {
    margin: 0;
    padding: 20px 25px 0 0;
    letter-spacing: 0px;
    font-size: 0.75rem;
    text-align: right;
}
.call-now-mobile i {
    transform: rotate(-20deg);
    font-size: 1.1rem;
    transition: 0.4s ease all;
    padding-right: 10px;
}
.call-now-mobile span {
    padding-left: 10px;
    text-decoration: underline;
}
.call-now-mobile span:hover {
    color: var(--main-accent-color);
    cursor: pointer;
}
.call-now span {
    padding-left: 10px;
    text-decoration: underline;
}
.call-now span:hover {
    color: var(--main-accent-color);
    cursor: pointer;
}
.call-now i {
    padding: 0 10px 0 10px;
    transform: rotate(-20deg) translateY(5px);
    font-size: 1.1rem;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.nav-link {
    padding: 0 10px 0 10px;
}
.hamburger {
    display: none;
}
.nav-mobile {
    width: 100%;
    height: 0;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    transition: 0.4s ease-in;
    overflow: hidden;
}
/* Dropdown Styling */
.menu-link-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.dropdown {
    width: 150px;
    max-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    overflow: hidden;
    position: absolute;
    top: 100%;
    z-index: 2;
    background: white;
    border-radius: 5px;
    -webkit-box-shadow: 1px 15px 28px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 1px 15px 28px 0px rgba(0,0,0,0.49);
    box-shadow: 1px 15px 28px 0px rgba(0,0,0,0.49);
}
.dropdown .nav-link {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #eee;
}
.menu-link-wrapper:hover .dropdown {
    max-height: 300px;
}
.menu-link-wrapper:hover .nav-link i {
    transform: translateX(2px) translateY(6px);
}
.nav-link i {
    transform: translateX(2px) translateY(2px);
    color: var(--main-accent-color);
    transition: 0.4s ease all;
}



/* ------------ HERO STRIP -------------- */
.hero-strip {
    background-image: url(https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
}
.thin-strip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
    color: white;
    width: 100%;
    padding: 40px;
}
.thin-strip hr {
    width: 10%;
}
.thin-strip .button:hover {
    color: white;
    border: 1px solid white;
}
.thin-strip .button:hover::before {
    color: white;
}
/* ----------- ABOUT STRIP ------------- */
.about-strip {
    background: #eee;
    text-align: center;
    padding: 75px 300px;
}
.about-strip img {
    width: 100px;
    height: auto;
}

/* --------- SERVICES AND CONDITIONS TREATED ---------- */
.conditions-strip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 150px;
}
.conditions-strip i {
    color: var(--main-accent-color);
}
.conditions-strip h2 {
    text-align: center;
}
.card-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
}
.card-container h3 {
  color: black;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}
.card-container p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  color: black;
}
.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: var(--main-accent-color);
  border-radius: 0 4px 0 32px;
}
.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}
.card1 {
  display: block;
  position: relative;
  max-width: 262px;
  background-color: #eee;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}
.card1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: var(--main-accent-color);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}
.card1:hover:before {
    transform: scale(25);
}
.card1::after {
    display: none;
}
.card1:hover p {
    visibility: hidden;
}
.card1:hover h3 {
    color: #FFFFFF;
    transform: translateX(110px) scale(1.5);
    transition: all 0.3s ease-out;
}
.card1 i {
    display: none;
}


/* ---------- Testimonial strip ------------ */
.testimonial-strip {
    width: 100%;
    height: 600px;
    background-image: url(https://images.unsplash.com/photo-1528218171320-9d6f43a90d24?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.overlay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    color: white;
}
.testimonial-strip i {
    color: white;
    padding: 100px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.testimonial-strip i:hover {
    color: var(--main-accent-color);
    transition: 0.4s;
    cursor: pointer;
}
.testimonial {
    width: 50%;
    text-align: center;
    position: absolute;
    left: 25%;
    transition: 0.5s ease all;
}
.active-quote {
    opacity: 1;
}
.inactive-quote {
    opacity: 0;
}
.testimonial h3 {
    font-size: 2rem;
}
.testimonial p {
    font-size: 1.25rem;
}
/* ---------------- INSURANCE STRIP ------------------ */
.insurance-strip {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 50px 0;
}
.insurance-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.insurance-strip i {
    color: var(--main-accent-color);
}
.insurance-strip p {
    padding: 0 15px;
}
.insurance-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.insurance-carousel img {
    margin: 5px;
    border: 2px solid lightgrey;
    border-radius: 5px;
    width: 125px;
    height: 80px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: white;
}
.insurance-carousel img:hover {
    transform: translateY(-15px);
}
/* -------------- CONTACT FORM ----------------- */
.form-strip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    background: #F6F6F6;
}
.form-strip i {
    font-size: 2rem;
    color: var(--main-accent-color);
}
.form-strip p {
    margin: 0;
    text-align: center;
}
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
fieldset {
    width: 800px;
    padding: 0;
    margin: 0;
    border: none;
}
.fieldset-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.name-email {
    width: 100%;
    display: flex;
    justify-content: center;
}
.name, .email {
    width: 98%;
    margin: 0 10px;
}
.phone-location {
    width: 100%;
    display: flex;
    justify-content: center;
}
.phone, .location {
    width: 98%;
    margin: 0 10px;
}
input, select, textarea {
    width: 100%;
    border: 1px solid #DDD;
    background: white;
    outline: none;
    height: 35px;
    color: rgba(0,0,0,0.8);
    font-family: 'Open Sans', sans-serif;
    padding-left: 5px;
}
.text-area {
    width: 98%;
    height: 80px;
    margin: 0 10px;
}
input::placeholder, select::placeholder, textarea::placeholder {
    color:rgba(0,0,0,0.8);
}
label {
    visibility: hidden;
}
.message {
    text-align: center;
    width: 100%;
}
.message label, input {
    width: 100%;
}
form .button {
    width: 210px; 
}
form .button:hover {
    border: 1px solid black;
    color: black;
    background: none;
}




/* -------------- FOOTER ------------ */
.footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.footer p {
    font-size: 0.8rem;
    color: #bbb;
    margin: 2px;
}
.footer a::after {
    display: none;
}
.footer a {
    color: #bbb;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    width: 100%;
}
.footer a:hover {
    color: var(--main-accent-color)e;
}
.footer-top {
    min-width: 100%;
    display: flex;
    justify-content: center;
}
.business-info {
    width: 50%;
    height: 400px;
    background-color: #4B4B4B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.business-info h4 {
    margin: 2px;
}
.footer-social {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 13px;
}
.footer-social i {
    color: white;
    font-size: 2rem;
    margin: 0 10px;
}
.footer-social i:hover {
    color: var(--main-accent-color);
}
.business-location {
    width: 50%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.map {
    width: 100%;
    height: 100%;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.map {
    width: 100%;
    height: 100%;
    background-image: url(/images/map-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
.map:hover {
    transform: scale(1.1);
}
.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: #373737;
}
.footer-bottom p {
    margin: 0;
}
.copyright {
    text-align: left;
    width: 50%;
    padding: 0 0 0 40px;
}
.bottom-links {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding-right: 40px;
}
.bottom-links p {
    padding: 0 2%;
}


/* ------------ SIDEBAR MODULE ----------- */
.sidebar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #464646;
    color: white;
}
.sidebar-module {
    width: 225px;
    padding: 0 50px;
}
.sidebar-module h4 {
    text-align: center;
}
.sidebar-module a {
    color: white;
    font-size: 0.85rem;
}
/* ---------------- FULL PAGE POSTS --------------- */
.post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.post-full {
    padding: 50px 20%;
}
.post-full p {
    padding: 20px 0;
}
.post-full .post-meta {
    text-align: center;
    padding: 0;
}
.post-full a {
    color: var(--main-accent-color);
}
.post {
    border: 1px solid black;
    background: #f6f6f6;
    border-radius: 10px;
    padding: 20px;
    width: 335px;
    min-height: 300px;
    margin: 20px;
}
.post a {
    color: var(--main-accent-color);
}
.post-title {
    text-align: center;
}
.post-title a:hover {
    color: black;
}
.post-title a:hover::after {
    display: none;
}
.post-full img {
    max-width: 100%;
    height: auto;
}
/* ---------------- POST COMPONENTS ----------- */
.component-post {
    padding: 50px 20%;
}
.component-post h1, .component-post h2, .component-post h3, .component-post h4, .component-post h5, .component-post h6 {
    text-align: center;
}
/* ---------------- ABOUT PAGE COMPONENTS ---------------- */
.providers-strip {
    background: #F6F6F6;
}
.news-strip {
    padding: 50px 20%;
    background: #4b4b4b;
    color: white;
}
.news-strip .button {
    color: white;
}
.news-strip .button:hover {
    border: 1px solid white;
}
.news-strip .button:hover::before {
    color: white;
}
/* ---------------- CONDITIONS PAGE COMPONENTS ---------------- */
.conditions-strip svg {
    width: 300px;
    height: 280px;
}
/* -------------- SERVICES PAGE COMPONENTS ------------- */
.services-strip {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 10%;
}
.services-strip svg {
    width: 280px;
    height: 260px;
}
.service-card {
    width: 310px;
    height: 200px;
    background: #eee;
    border: 1px solid #eee;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
    padding: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: 0.3s ease all;
}
.service-card:hover {
    transform: translateY(-7px);
    border: 1px solid var(--main-accent-color);
}
.services-strip a::after {
    display: none;
}
/* -------------- TMS PAGE COMPONENTS --------- */
.tms-strip {
    padding: 0 20% 50px 20%;
}
/* -------------- DIFFERENT PAGE DESIGNS ------------ */
/*---- ONE COLUMN ----*/
.one-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/*---- TWO COLUMN ----*/
.two-column {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px 20%;
}
.two-column svg {
    width: 380px;
    height: 360px;
}
/* ---- Two Column, Text Right ---- */
.text-right .right, .text-right .left {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-right .left {
    align-items: flex-start;
}
.text-right .right {
    align-items: flex-start;
    margin-left: 50px;
}
.text-right .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.text-right .button-wrapper .button {
    margin: 20px 0 20px 0;
}
/* ---- Two Column, Text Left ---- */
.text-left .right, .text-left .left {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-left .left {
    align-items: flex-start;
    margin-right: 50px;
}
.text-left .right {
    align-items: flex-end;
}
.text-left .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.text-left .button-wrapper .button {
    margin: 20px 0 20px 0;
}


/* ---------------- MEDIA QUERIES ----------------- */
@media only screen and (max-width: 1400px) {
    .text-right .right, .text-right .left {
        width: 300px;
    }
    .text-right .right, .text-right .left {
        width: 300px;
    }
}
@media only screen and (max-width: 1200px) {
    /* Top Strip */
    .top-strip img {
        width: 220px;
        height: 95px;
    }
    /* About Strip */
    .about-strip {
        padding: 75px 200px;
    }
    /* Conditions Treated */
    .conditions-strip {
        padding: 100px;
    }
    /* Footer */
    .business-location {
        background-repeat: no-repeat;
        background-position: left;
        height: 300px;
    }
    .business-info {
        height: 300px;
    }
}
@media only screen and (max-width: 1100px) {
    .two-column svg {
        width: 300px;
        height: 280px;
    }
}
@media only screen and (max-width: 950px) {
    /* About Strip */
    .about-strip {
        padding: 75px 100px;
    }
    /* Conditions Treated */
    .conditions-strip {
        padding: 25px 0 25px 0;
        background: url(/images/gradient.jpeg);
        background-size: cover;
    }
    .conditions-strip h2 {
        padding: 5px 10px 20px 10px;
    }
    .card-container {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }
    .card1 {
        width: 120px;
        height: 25px;
        margin: 5px;
        padding-top: 20px;
        box-shadow: 0px 2px 4px 1px rgba(8,8,8, 0.3);
        border-radius: 9px;
        background-color: white;
    }
    .card1 h3 {
        position: relative;
        top: -10px;
        left: -5px;
        font-size: 0.8rem;
    }
    .card1 p {
        display: none;
    }
    .card1 div {
        display: none;
    }
    .card1::before {
        display: none;
    }
    .card1 i {
        display: flex;
        color: var(--main-accent-color);
        transform: scale(1.1);
    }
    .card1:hover h3 {
        color: black;
        transform: none;
    }
    /* Testimonials Strip */
    .testimonial-strip i {
        padding: 50px;
    }
}
@media only screen and (max-width: 830px) {
    /* About Strip */
    .about-strip {
        padding: 75px 80px;
    }
    /* Testimonials Strip */
    .testimonial-strip i {
        padding: 25px;
    }
    /* Insurance */
    .insurance-carousel i {
        width: 110px;
        height: 70px;
    }
    /* Contact Form */
    fieldset {
        width: 600px;
    }
    /* Footer */
    .footer-top {
        flex-direction: column;
    }
    .business-location {
        background-repeat: no-repeat;
        background-position: left;
        width: 100%;
        height: 300px;
    }
    .business-info {
        width: 100%;
        height: 300px;
    }
    .footer-bottom {
        flex-direction: column;
        height: auto;
        padding: 12px 0;
    }
    .copyright {
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
        padding: 0 0 10px 0;
    }
    .bottom-links {
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
        padding: 0;
    }
    .bottom-links p {
        padding: 0 2%;
        text-decoration: underline;
    }
}
@media only screen and (max-width: 800px) {
    /* Mobile Nav */
    .navbar {
        display: none;
        overflow: hidden;
    }
    .navbar-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 75%;
        height: auto;
    }
    .nav-mobile {
        width: 100vw;
        height: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        left: 0;
        opacity: 0;
    }
    .revealNavMobile {
        -webkit-transition: 0.5s; /* Safari 4+ */
        -moz-transition: 0.5s; /* Fx 5+ */
        -o-transition: 0.5s; /* Opera 12+ */
        transition: 0.5s; /* IE 10+, Fx 29+, */
        height: 30vh;
        opacity: 1;
        background-color: #eee;
    }
    .mobile-link {
        text-align: right;
        padding: 5px 25px;
        letter-spacing: 3px;
        color: black;
        z-index: 5;
        max-width: 100vw;
        transition: 0.3s;
    }
    .mobile-link::after {
        display: none;
    }
    .mobile-link:hover {
        color: var(--main-accent-color);
    }
    .hamburger {
        display: inline-block;
        cursor: pointer;
        width: 20px;
        height: auto;
        padding: 10px 40px 10px 10px;
        position: relative;
        left: 0%;
        transition: 0.4s ease all;
    } 
    .bar1, .bar3 {
        width: 30px;
        height: 4px;
        background-color: black;
        margin: 6px 0;
        transition: 0.6s;
    }
    .bar2 {
        width: 30px;
        height: 4px;
        background-color: black;
        margin: 6px 0;
        transition: 0.5s;
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg);
        transform: translateY(10px) rotate(-228deg);
    }
    /*  translate(3px, -5px) */
    .change .bar2 {
        transform: rotate(125deg) translateY(-10px) translateX(30px);
        opacity: 0;
    }
    .change .bar3 {
        -webkit-transform: rotate(45deg);
        transform: translateY(-10px) rotate(48deg);
    /*  translate(-9px, -12px) */
    }


    .two-column svg {
        width: 250px;
        height: 230px;
    }
}
@media only screen and (max-width: 670px) {
    /* Nav */
    .navbar-wrapper {
        justify-content: flex-end;
    }
    .call-now {
        display: none;
    }
    .call-now-mobile {
        display: block;
    }
}
@media only screen and (max-width: 640px) {
    /* Hero Strip */
    .hero-strip {
        text-align: center;
        background-image: url(/images/hero-image-mobile.JPG);
        background-attachment: scroll;
    }
    /* About Strip */
    .about-strip {
        padding: 75px 50px;
    }
    /* Testimonials Strip */
    .testimonial-strip i {
        font-size: 2.5rem;
    }
    .testimonial h3 {
        font-size: 1.5rem;
    }
    .testimonial p {
        font-size: 1rem;
    }
    /* Contact Form */
    fieldset {
        width: 400px;
    }

    .two-column svg {
        width: 200px;
        height: 180px;
    }    
}
@media only screen and (max-width: 460px) {
    /* Nav -- If we want mobile to have a simple, no-text logo
    .brand {
        display: none;
    }
    .brand-mobile {
        display: flex;
        align-items: center;
        padding: 7px 20px;
    }
    .brand-mobile img {
        width: 80px;
        height: auto;
    }
    */
    .brand img {
        width: 175px;
        height: auto;
        padding-left: 12px;
    }
    .call-now-mobile p {
        font-size: 0.6rem;
        padding-right: 30px;
    }
    .call-now-mobile i {
        font-size: 1rem;
    }
    .revealNavMobile {
        height: 35vh;
    }
    /* About Strip */
    .about-strip {
        padding: 75px 20px;
    }
    /* Services Strip */
    .service-card {
        width: 290px;
        height: 180px;
    }
    /* Contact Form */
    fieldset {
        width: 300px;
    }
    .name-email, .phone-location {
        flex-direction: column;
        align-items: center;
    }
    input, select {
        margin: 0;
        transform: translateX(-3px);
        border-radius: 7px;
        height: 40px;
    }
    textarea {
        border-radius: 7px;
    }
    .name, .email, .phone, .location, .text-area {
        margin: 0;
    }

    /* POSTS */
    .post-full {
        padding: 20px 10%;
    }
    /* COMPONENTS */
    .component-post {
        padding: 20px 10%;
    }
    /* SIDEBAR */
    .sidebar {
        flex-direction: column;
        padding: 0 20px;
    }
    .sidebar-module {
        width: 100%;
        padding: 0;
    }

    .two-column {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .text-right .right, .text-right .left, .text-left .left, .text-left .right {
        margin: 0 0 0 0;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .text-right .button-wrapper, .text-left .button-wrapper {
        justify-content: center;
    }
}
@media only screen and (max-width: 340px) {
    .revealNavMobile {
        height: 40vh;
    }
    /* Contact */
    .form-strip p {
        width: 80%;
    }
    fieldset {
        width: 250px;
    }
    input, select {
        transform: translateX(-3px);
    }
}