<%
    var title = '';
    if (page.category) title = `Categories > ${page.category.charAt(0).toUpperCase() + page.category.slice(1)} Posts`;
    if (page.tag) title = `Tags > #${page.tag.charAt(0).toUpperCase() + page.tag.slice(1)} Posts`;
    if (page.archive){
        if (page.year) title = page.year + (page.month ? '/' + page.month : '');
        else title = "Archives";
    }
%>
<% if(title) { %>
   <h2 class="blog-archive-title"><%- title %></h2>
<% } %>
<% page.posts.each(function(item){ %>
<%- partial('_partial/article-archive', {item: item}) %>
<% }); %>
<%- partial('_partial/pagination') %>
    <div class="button-wrapper">
        <a href="<% config.root %>/lower-level-pages/news" class='button'>Back To Blog</a>  
    </div>
<%- partial('_partial/sidebar') %>