<% if (page.type === 'blog') { %>
    <%- partial('_partial/article-full', {item: page}) %> 
    <div class="button-wrapper">
        <a href="<% config.root %>/lower-level-pages/news" class='button'>Back To Blog</a>  
    </div>
    <%- partial('_partial/sidebar') %>
<% } %>
<% if (page.type === 'provider') { %>
    <%- partial('_partial/provider-full', {item: page}) %> 
    <div class="button-wrapper">
        <a href="<% config.root %>/lower-level-pages/providers" class='button'>Back To Providers</a>  
    </div>
<% } %>