
<div class="archive-post">
    <!-- Title -->
    <h2 class="archive-card">
        <p><%- date(item.date) %></p>
        <a href="<%- config.root %><%- item.path %>">
            <%- item.title || item.link%>
        </a>
    </h2>
</div>