
<div class="component-post">
    <!-- Title -->
    <p><%- item.date %></p>
    <h2 class="archive-card">
        <a href="<%- config.root %><%- item.path %>">
            <%- item.title || item.link%>
        </a>
    </h2>
</div>