<div class="footer">
    <div class="footer-top">
        <div class="business-info">
            <h4>TheraMind Center of Santa Barbara</h4>
            <p>351 Hitchcock Way, Ste. B170</p>
            <p>Santa Barbara, CA 93105</p>
            <p>Phone: 805-845-4455 | Fax: 805-845-9820</p>
            <div class="footer-social">
                <p><a href="#"><i class="fab fa-facebook-square"></i></a></p>
                <p><a href="#"><i class="fab fa-instagram"></i></a></p>
                <p><a href="#"><i class="fab fa-twitter-square"></i></a></p>
                <p><a href="#"><i class="fab fa-linkedin"></i></a></p>
            </div>
        </div>
        <div class="business-location">
            <a href='https://www.google.com/maps/place/TheraMind+Center+of+Santa+Barbara/@34.4354274,-119.7480577,17z/data=!3m1!4b1!4m5!3m4!1s0x80e91521b162ee29:0xe0077ed09a48f5bc!8m2!3d34.435423!4d-119.745869' target='_blank' class='map'></a>
        </div>
    </div>
    <div class="footer-bottom">
        <p class='copyright'>© 2020, TheraMind Center of Santa Barbara. All rights reserved.</p>
        <div class="bottom-links">
            <p><a href="https://tmsmind.com/">TheraMind Services, Inc.</a></p>
            <p><a href="#">Terms of Service</a></p>
            <p><a href="https://tmsmind.com/privacy-policy/">Privacy Policy</a></p>
        </div>
    </div>
</div>