<div class="footer-top">
    <img src="/images/simple-logo.png" alt="logo">
</div>
<div class="footer">
    <div class="footer-info">
        <p class='footer-title'>INFORMATION</p>
        <p><a href="#">Privacy Policy</a></p>
        <p><a href="#">Terms & Conditions</a></p>
        <p>Copyright: Theramind Center of Santa Barbara <%- date(Date.now(), 'YYYY') %></p>
    </div>
    <div class="footer-social">
        <p><a href="#"><i class="fab fa-facebook-square"></i></a></p>
        <p><a href="#"><i class="fab fa-instagram"></i></a></p>
        <p><a href="#"><i class="fab fa-twitter-square"></i></a></p>
        <p><a href="#"><i class="fab fa-linkedin"></i></a></p>
    </div>
    <div class="footer-office">
        <p class='footer-title'>OUR OFFICE</p>
        <p>P: (805) 845-4455</p>
        <p>M - F: 9:00 am - 5:00 pm</p>
        <p>351 Hitchcock Way, B170, Santa Barbara, CA 93105</p>
    </div>
</div>