<div class="header">
    <!-- Pull the blog title from Hexo -->
    <h1 class="site-title"><%- config.title %></h1>
    <p class="blog-description">
        <!-- if there is a subtitle, post that too -->
        <% if (config.subtitle) { %>
            <%- config.subtitle %>
        <% } %>
    </p>
</div>