<div class="hero-strip">
    <div class="thin-strip">
        <h1>THERE IS HOPE.</h1>
        <h4>TMS Therapy can treat your drug-resistant depression.</h4>
        <hr>
        <button>CONTACT US</button>
    </div>
</div>