<div class="insurance-strip">
    <div class="insurance-container">
        <i class="fas fa-notes-medical fa-2x"></i>
        <h2>We Take Insurance!</h2>
        <p>Here at the TheraMind Center of Santa Barbara, we take most commercial insurance plans. If you do not see your insurance listed below please contact our office directly for further investigation.</p>
        <div class="insurance-carousel">
            <img src="/images/insurance-logos/aetna.png" alt="Aetna Logo">
            <img src="/images/insurance-logos/anthem.png" alt="Anthem Logo">
            <img src="/images/insurance-logos/beacon.png" alt="Beacon Health Options Logo">
            <img src="/images/insurance-logos/BCBS.png" alt="BCBS Logo">
            <img src="/images/insurance-logos/BSofCA.png" alt="BS of CA Logo">
            <img src="/images/insurance-logos/united.png" alt="United Health Logo">
            <img src="/images/insurance-logos/optum.png" alt="OPTUM Logo">
            <img src="/images/insurance-logos/tricare.png" alt="Tricare Logo">
            <img src="/images/insurance-logos/mhn.png" alt="MHN Logo">
            <img src="/images/insurance-logos/healthnet.png" alt="Healthnet Logo">
        </div>
    </div>
</div>
</div>