<div class="sidebar">
    <div class="sidebar-module">
        <h4>Recent</h4>
        <ul class="list-styled">
            <% let news = site.posts %>
            <% news.forEach(function(item) { %>
                <% if (item.type === 'news') { %>
                    <li><a href="<%- config.root %><%- item.path %>"><%- item.title %></a></li>
                <% } %>
            <% }); %>
        </ul>
    </div>
    <div class="sidebar-module">
        <h4>Archives</h4>
        <ul class="list-styled">
            <li><a href="#">March 2014</a></li>
            <li><a href="#">February 2014</a></li>
            <li><a href="#">January 2014</a></li>
            <li><a href="#">December 2013</a></li>
            <li><a href="#">November 2013</a></li>
        </ul>
    </div>
    <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ul class="list-styled">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">LinkedIn</a></li>
        </ul>
    </div> 
</div>