<div class="sidebar">
    <div class="sidebar-module">
        <h4>Recent</h4>
        <ul class="list-styled">
            <% let posts = site.posts; %>
            <% let news = []; %>
            <% for (let i = posts.length-1; i > posts.length-3; i--) { %>
                <% news.push(posts.data[i]); %>
            <% } %>
            <% news.forEach(function(item) { %>
                <% if (item.type === 'blog') { %>
                    <li><a href="<%- config.root %><%- item.path %>"><%- item.title %></a></li>
                <% } %>
            <% }); %>
        </ul>
    </div>
    <div class="sidebar-module">
        <h4>Archives</h4>
        <ul class="list-styled">
            <li><a href="#">March 2014</a></li>
            <li><a href="#">February 2014</a></li>
            <li><a href="#">January 2014</a></li>
            <li><a href="#">December 2013</a></li>
            <li><a href="#">November 2013</a></li>
        </ul>
    </div>
    <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ul class="list-styled">
            <li><a href="https://www.facebook.com/TheraMindSantaBarbara/">Facebook</a></li>
            <li><a href="https://www.instagram.com/theramindsb/">Instagram</a></li>
            <li><a href="https://twitter.com/theramindsb">Twitter</a></li>
            <li><a href="https://www.linkedin.com/showcase/theramind-center-of-santa-barbara">LinkedIn</a></li>
        </ul>
    </div> 
</div>