<div class="testimonial-strip">
    <div class="overlay">
        <i class="fas fa-chevron-left fa-4x left-arrow"></i>
        <% let posts = site.posts.data; %>
        <% for (let i = 0; i < posts.length; i++) { %> 
            <% if (posts[i].type === 'quote') { %>
                <div class="testimonial inactive-quote">
                    <h3><%- posts[i].content %></h3>
                    <p>- <%- posts[i].initials %></p>
                </div>
            <% } %>
        <% } %>
        <i class="fas fa-chevron-right fa-4x right-arrow"></i>
    </div>
</div>