<div class="testimonial-strip">
    <div class="overlay">
        <i class="fas fa-chevron-left fa-4x left-arrow"></i>
        <% let posts = site.posts.data; %>
        <% let quotes = []; %>
        <% for (let i = 0; i < posts.length; i++) { %>
            <% if (posts[i].type === 'quote') { %>
                <% quotes.push(posts[i]); %>
            <% } %>
        <% } %>
        <% for (let i = 0; i < quotes.length; i++) { %>
            <% if (i === 1) { %>
                <div class="testimonial active-quote">
                    <h3><%- quotes[i].content %></h3>
                    <p>- <%- quotes[i].initials %></p>
                </div>
            <% } else { %>
                <div class="testimonial inactive-quote">
                    <h3><%- quotes[i].content %></h3>
                    <p>- <%- quotes[i].initials %></p>
                </div>
            <% } %>
        <% } %>
        <i class="fas fa-chevron-right fa-4x right-arrow"></i>
    </div>
</div>