<div class="testimonial-strip">
    <div class="overlay">
        <i class="fas fa-chevron-left fa-4x left-arrow"></i>
        <div class="testimonial inactive-quote">
            <h3>"TheraMind has helped me immensely. I am no longer depressed and TMS therapy has saved my life!"</h3>
            <p>- B.E.</p>
        </div>
        <div class="testimonial active-quote">
            <h3>"TMS is the BEST!!. I am HAPPY!!"</h3>
            <p>- B.E.</p>
        </div>
        <div class="testimonial inactive-quote">
            <h3>"This place made me feel like myself again! TMS is a total game changer"</h3>
            <p>- B.E.</p>
        </div>
        <i class="fas fa-chevron-right fa-4x right-arrow"></i>
    </div>
</div>