<!-- TOP STRIP -->
<div class="top-strip">
    <img src="/images/theramind-logo.png" alt="theramind-logo">
    <div class="strip-info">
        <i class="fas fa-phone-volume fa-2x"></i>
        <p>Call us now! <span>+1 (805) 845-4455</span></p>
    </div>
</div>