<div class="video">
    <video autoplay loop muted id="myVideo">
        <source src='/css/images/axn-creative-web-video.mp4' type="video/mp4">
    </video>
</div>
<script>
    // Get the video
    var video = document.getElementById("myVideo");
    video.playbackRate = 0.7;
</script>